.booking {
    padding-top: 150px;
    padding-bottom: 150px;
    @include laptop {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    @include tablet {
        padding-top: 90px;
        padding-bottom: 102px;
    }
    @include mobile {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &__wrapper {
        border: 1px solid #AFAFAF;
        max-width: 980px;
        margin: 0 auto;
        padding: 60px 100px;
        border-radius: 30px;
        @include laptop {
            padding: 60px 80px 69px 80px;
        }
        @include tablet {
            padding: 40px 60px;
        }
        @include mobile {
            padding: 20px 10px 25px 10px;
        }
    }
    &__title {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 150%;
        /* identical to box height, or 51px */
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 60px;
        @include laptop {
            font-size: 30px;
        }
        @include tablet {
            font-size: 20px;
            margin-bottom: 40px;
        }
        @include mobile {
            font-size: 16px;
            margin-bottom: 25px;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        @include mobile {
            gap: 15px;
        }
    }
    
    &__options {
        display: flex;
        justify-content: space-between;
        gap: 6%;
        @include mobile {
            flex-direction: column;
            gap: 15px;
        }
    }
    &__choose {
        // max-width: 221px;
        width: 33%;
    }
    &__row {
        display: flex;
        flex-direction: column;
        // padding: 12px 15px 33px;
        padding: 12px 15px 31px;
        gap: 12px;
        border: 1px solid #AFAFAF;
        border-radius: 12px;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        @include tablet {
            font-size: 14px;
        }
        @include mobile {
            width: 100%;
            font-size: 12px;
        }
    }
    &__info {
        display: flex;
        gap: 60px;
        @include mobile {
            flex-direction: column;
            gap: 15px;
        }
    }
}

.phone {
    width: 50%;
    @include mobile {
        width: 100%;
    }
}

.email {
    width: 50%;
    @include mobile {
        width: 100%;
    }
}

.input {
    width: 100%;
    border: 0;
}

.people__input {
    // width: 140px;
    // height: 42px;
    // outline: none;
    &::placeholder {
        font-weight: 300;
        font-size: 16px;
        line-height: 130%;
    }
}