.header {
    &__wrapper {
        padding: 54px 0 87px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 176px;
        height: 34px;
    }
}

.wrapper {
    background-image: url('../img/hero/hero-bg.jpg');
    background-size: cover;
    background-position: center;
}