.hero {
    &__wrapper {
        padding: 17px 0 200px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include laptop {
            padding: 17px 0 124px 0;
        }
        @include tablet {
            padding: 12px 0 91px 0;
        }
        @include mobile {
            padding: 16px 0 46px 0;
        }
    }
    &__content {
        padding: 0 0 0 79px;
        margin-bottom: 30px;
        @include laptop {
            margin-bottom: 27px;
        }
        @include tablet {
            margin-bottom: 14px;
        }
        @include mobile {
            padding: 0;
            margin-bottom: 26px;
        }
    }
    &__title {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: $white;
        @include laptop {
            font-size: 30px;
        }
    }
    &__name {
        margin-left: -17px;
        display: inline-block;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 200;
        font-size: 200px;
        line-height: 200px;
        text-align: center;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 10px;
        @include desktop {
            font-size: 150px;
            line-height: 160px;
        }
        @include laptop {
            margin-bottom: 0;
        }
        @include tablet {
            font-size: 100px;
            line-height: 120px;
        }
        @include mobile {
            font-size: 50px;
            line-height: 54px;
        }
    }
    &__subtitle {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        /* or 30px */
        color: $white;
        white-space: pre-line;
        @include laptop {
            font-size: 18px;
        }
        @include tablet {
            font-size: 14px;
        }
        @include mobile {
            font-size: 12px;
        }
    }
    &__button {
        width: 360px;
        height: 76px;
        padding: 24px 111px;
        cursor: pointer;
        background-color: #FCB500;
        border-radius: 12px;
        border: 0;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        /* identical to box height, or 27px */
        color: $white;  
        @include laptop {
            width: 299px;
            height: 63px;
            padding: 18px 81px;
            border-radius: 10px;
        }
        @include tablet {
            width: 220px;
            height: 45px;
            padding: 12px 57px;
            border-radius: 6px;
            font-size: 14px;
        }
        @include mobile {
            width: 151px;
            height: 34px;
            padding: 8px 30px;
            border-radius: 4px;
            font-size: 12px;
        }
    }
}