.travel {
    padding-top: 40px;
    padding-bottom: 150px;
    &__acc {
        border-left: 2px solid #FCB500;
        padding-left: 70px;
        margin-left: 14px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__image {
        width: 480px;
        height: 410px;
    }
    &__item {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        /* identical to box height, or 30px */
        color: #303030; 
    }
}