.tur {
    padding-top: 100px;
    background-image: url('../img/tur-bg.jpg');
    background-size: cover;
    &__content {
        margin-bottom: 80px;
    }
    &__title {
        margin-bottom: 60px;
        color: $white;
    }
    &__subtitle {
        margin-bottom: 80px;
        max-width: 580px;
        color: $white;
    }
    &__text {
        color: $white;
    }
}